<!-- partials/detail.html -->
<section>
  <div class="row my-3 mx-3">
    <div class="col-md-6">
      <!-- Image principale -->
      <div class="text-center">
        <img id="mainImg" class="img-fluid rounded" src="{{img1}}" alt=""></img>
      </div>
      <!-- Ensemble de sous image -->
      <div class="row d-md-flex d-none my-2">
        <div class="col-4">
          <a href="#">
            <img class="img-fluid rounded" src="{{img1}}" alt="Image 1" onclick='changeImage("{{img1}}");'></img>
          </a>
        </div>
        <div class="col-4">
          <a href="#">
            <img class="img-fluid rounded" src="{{img2}}" alt="Image 2" onclick='changeImage("{{img3}}");'></img>
          </a>
        </div>
        <div class="col-4">
          <a href="#">
            <img class="img-fluid rounded" src="{{img3}}" alt="Image 3" onclick='changeImage("{{img3}}");'></img>
          </a>
        </div>
      </div>
    </div>
    <!-- Partie descriptive de l'ile -->
    <div class="col-md-4">
      <h3 class="my-3">Description</h3>
      <p>{{descLong}}</p>
      <h3 class="my-3">Details</h3>
      <ul>
        <li>Nom : {{nom}}</li>
        <li>Lieu : {{lieu}}</li>
        <li>Taille : {{taille}}</li>
        <li>Amménagé : {{amménagé}}</li>
        <li>Nationalité : {{Nationalité}}</li>
      </ul>
      <p><a href="#!"><small>Retour</small></a></p>
    </div>
  </div>
</section>
