<!-- partials/detail.html -->
<section>
  <!-- <p>Id : {{id}}</p>
  <p>Nom : {{nom}}</p>
  <p>Lieu : {{lieu}}</p>
  <p>Prix : {{prix}}</p>
  <p>Taille : {{taille}}</p>
  <img src="{{img1}}" alt=""></img>
  <p>Description : {{descCourte}}</p>
  <p>Amménagé : {{ammenage}}</p>
  <p>Nationalité : {{Nationalite}}</p> -->
  <div class="row">
  <div class="row my-3 mx-3">
    <div class="col-md-6">
      <div class="text-center">
        <img id="mainImg" class="img-fluid rounded" src="{{img1}}" alt=""></img>
      </div>
      <div class="row d-md-flex d-none my-2">
        <div class="col-4">
          <a>
            <img class="img-fluid rounded" src="{{img1}}" alt="Image1"></img>
          </a>
        </div>
        <div class="col-4">
          <a>
            <img class="img-fluid rounded" src="{{img2}}" alt="Image2"></img>
          </a>
        </div>
        <div class="col-4">
          <a>
            <img class="img-fluid rounded" src="{{img3}}" alt="Image3"></img>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="my-3">Description</h3>
      <p>{{descLong}}</p>
      <h3 class="my-3">Details</h3>
      <ul>
        <li>Nom : {{nom}}</li>
        <li>Lieu : {{lieu}}</li>
        <li>Taille : {{taille}}</li>
        <li>Amménagé : {{ammenage}}</li>
        <li>Nationalité : {{Nationalite}}</li>
      </ul>
      <p><a href="#!"><small>Retour</small></a></p>
    </div>
  </div>
  </div>
</section>
