.fxd{
position: fixed;
top: 0;
right: 0;
left: 0;
margin-top: 300px;
}
.jmt{
  color: white;
}
.jmb{
  background-color: #d1b17e !important;
  opacity: 0.8;
}
.Ilemage{
  float: left;
  height: 200px;
  margin-top: 4%;
}
.Iimage{
  height: 90px;
  margin-bottom: 15px;
  transform: rotate(-15deg);
}
.jumbotron{
  padding: 8px !important;
}
.btn{
  color: white !important;
  background-color: #d1b17e !important;
  font-size: 120% !important;
}
.btnmenu{
  background-color: #d1b17e !important;
  margin-top: 150px;
}
/* le volet ici */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:#d1b17e; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border: 2px solid white;
    border-radius: 0px 10px 10px 0px;
}

/* The navigation menu links */
.sidenav .p {
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-bottom: 10px !important;
    margin-left: 15px !important;
}

/* When you mouse over the navigation links, change their color */
.sidenav .p:hover, .offcanvas .p:focus{
    color: grey;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
}
body {
  overflow-x: hidden;
  font-family: 'Lobster Two', cursive !important;
  font-size: 120% !important;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

a svg{
  transition:all .5s ease;

  &:hover{
    #transform:rotate(180deg);
  }
}

#ico{
  display: none;
}

.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);

  #transition: all 0.5s ease;

  a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;

    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }

    &:hover{
      background: #555;
    }
  }
}
h4{
  font-size: 20px !important;
}
/* fin du menu drop right */
#flc{
  height: 30px;
  cursor: pointer;
  /* margin-top: 125px; */
  /* z-index: 1; */
  /* position: absolute; */
}

.footer{
    font-size: 15px;
    padding-top: 20px;
    margin-left: 30px;
}

h1{
    font-size: 15px !important;
}

.backgr{
  background-color: #d1b17e;
  border-radius: 5px;
}
.txt{
  margin-left: 7% !important;
}
#world{
    padding-top: 15px;
}

#reseaux{
  height:35px;
  width: 35px;
}

#reseaux2{
  height:40px;
  width: 40px;;
}

#reseaux3{
  height:30px;
  width: 30px;
}

#paid{
    height:50px;
    width: 50px;
}

#flag{
    height:40px;
    width: 30px;
}
.card
{
  height: 25em;
  cursor: pointer;
}

.img-fluid
{
  /* border-radius: 10px; */
}

#mainImg{
  width: 35em;
}
/* /////////////////////////////////////////////// */
.art
{
  color: black !important;
  text-decoration: none !important;
}

ul{
  list-style: none !important;
}

a{
  outline: none !important;
  color: white !important;
}

.titre{
  font-family: 'Lobster Two', cursive !important;
  color: black !important;
}

 .flot{
   font-size: 300% !important;
 }

h2{
  font-size: 450% !important;
}
.pnac{
  margin-left: 85%;
}
.Acc{
  font-size: 150% !important;
  color: #014E8C !important;
  padding-right: 20px;
}

.Pn{
  font-size: 150% !important;
  color: #014E8C !important;
}
